@charset "utf-8";





/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer;outline:none}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:13px;line-height:1.5;font-family:Noto Sans DemiLight,AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;-webkit-font-smoothing: antialiased} /* color값은 디자인가이드에 맞게사용 */
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}


/* global */
#kakaoIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px} /* PC용 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.ir_caption{overflow:hidden;width:1px;font-size:1px;line-height:0;text-indent:-9999px} /* Table caption에 숨김텍스트를 제공할때 */
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.show{display:block}
.hide{display:none}





/* common Image */
.img_common_tistory{display:block;font-size:0;line-height:0;text-indent:-9999px;background-image:url(//t1.daumcdn.net/tistory_admin/static/top/pc/img_common_tistory_190731.png);background-size:120px 100px}/* 2019-07-31 �뚯씪 蹂�寃� */

/* 레이아웃 */
html,body{height:100%}
#wrapper{overflow:hidden;min-width:944px}
#wrapper.type {overflow:auto;position:relative;top:0;width:100%;height:100%;min-width:1200px;min-height:560px}
#wrapper.type #content{position:relative;height:100%}
#wrapper.type #main{display:table;width:100%;height:100%;margin:0 auto;}
#wrapper.type #article{display:table-cell;vertical-align:middle;}
#wrapper.type .footer_comm{border-top:none;position:absolute;bottom:0}
#content{width:100%}
.footer_comm{width:100%;border-top:1px solid #F0F0F0;text-align:center;}

/* header */
.inner_header{position:relative;z-index:1;min-width:944px;margin:0 auto;}/* 컨텐츠최소값 */
.head_type1 .tit_tistory_white{opacity:0}
.head_type1 .tit_tistory_black{opacity:1}

/* duamFoot */
.inner_foot{overflow:hidden;min-width:1200px;margin:0 auto;padding:0 0 60px;background-color:#fff}
.desc_footer{color:#909090;font-size:12px;line-height:1.5}
.desc_footer em{color:#000}
.desc_footer2 .txt_flogo{display:inline-block;width:74px;height:12px;font-size:0;line-height:0;text-indent:-9999px;background-image:url(//t1.daumcdn.net/tistory_admin/static/top/pc/img_common_tistory_190731.png);background-size:120px 100px;background-position:0 -80px;}
.blog_type .desc_footer2{letter-spacing:-0.6px;line-height:1.5;font-size:15px;color:#333;text-indent:0}
.blog_type .desc_footer2 .txt_flogo{display:inline;background:none;letter-spacing:-0.6px;line-height:1.5;font-size:15px;color:#333}

/* btn TYPE */
.wrap_btn {padding:40px 0 0;font-size:0;line-height:0;text-align:center;}
.wrap_btn_type2{overflow:hidden;text-align:right}
.btn_basic{display:inline-block;min-width:120px;height:40px;padding:0 23px;border-radius:20px;border:1px solid #E0E0E0;font-size:13px;color:#333;line-height:38px;box-sizing:border-box;text-align:center;background-color:#fff;-webkit-transition:background-color 0.1s linear, border-color 0.1s linear;-moz-transition:background-color 0.1s linear, border-color 0.1s linear;transition:background-color 0.1s linear, border-color 0.1s linear}
.btn_basic:hover{color:#fff;background-color:#FF5544;border:1px solid #FF5544;text-decoration:none}
.btn_basic:active{color:#fff;background-color:#CC4436;border:1px solid #CC4436;text-decoration:none}
.wrap_btn .btn_basic{margin:0 4px;vertical-align:middle}
.btn_basic:hover .ico_view{background-position:-100px -20px}
.btn_primary:disabled{border-color:#B9B9B9;background-color:#B9B9B9;cursor:default}
.btn_primary{border-color:#000;color:#fff;background-color:#000}
#wrapper.blog_type .btn_basic{border-radius:0}
#wrapper.blog_type .btn_basic:hover{border:1px solid #1a9be4;background-color:#1a9be4;color:#fff;text-decoration:none}
#wrapper.blog_type .btn_basic:active{border:1px solid #1a9be4;background-color:#1a9be4;color:#fff;text-decoration:none}

/*form*/
.inp_text{position:relative}
.inp_text input{display:block;width:100%;height:100%;font-size:13px;color:#000;border:none;outline:0;-webkit-appearance:none;background-color:transparent;}
.inp_text input::placeholder, .inp_text input:-ms-input-placeholder,.inp_text input::-ms-input-placeholder {font-size:13px;color:#909090}
.inp_placeholder{position:absolute;top:0;left:0;font-size:13px;color:#909090}

/*글쓰기에서 사용한 리스트목록*/
.cont_data{overflow:hidden;width:100%;margin:0 auto}
.cont_data dl{float:left;width:100%;font-size:0;border:1px solid #ddd;border-top:none;box-sizing:border-box;}
.cont_data dl:first-child{border-top:1px solid #ddd;border-top-left-radius:3px;border-top-right-radius:3px}
.cont_data dl:last-child{border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.cont_data dl:after{content:'';clear:both;font-size:0;line-height:0}
.cont_data dt{float:left;width:141px;padding:18px 0 16px 19px;font-size:13px;color:#333}
.cont_data dd{overflow:hidden;position:relative;min-height:22px;padding:18px 0 16px 0;}
.cont_data dd:after{content:'';clear:both;}
.cont_data .txt_error{padding:10px 0 0 0;font-size:12px;line-height:22px;color:#ff0000}

/* 에러 메세지 */
.content_error{min-width:1200px;margin:0 auto}
.inner_error{display:table;width:712px;margin:0 auto}
.error_tistory{display:table-cell;vertical-align:middle}
.error_tistory.type2{vertical-align:top}
.error_tistory.type2 #article{vertical-align:top}
.tit_error{display:block;margin:-6px 0 0;font-weight:normal;font-family:Noto Sans Medium,AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;font-size:36px;line-height:46px;color:#000;letter-spacing:-1.2px}
.tit_error .br_line,.desc_info .br_line,.desc_error .br_line{display:none;line-height:0;font-size:0}
.tit_error em{color:#ff5544}
.tit_error + .desc_info{padding:10px 0 0 0}
.tit_error_type2{text-align:center}
.tit_error_type2 + .desc_error{text-align:center}
.desc_error{padding:18px 0 0 0;line-height:22px;color:#777}
.content_error .box_info{margin:35px 0 0 0;padding:35px 40px 35px 40px;border-radius:3px;background-color:#fafafa;box-sizing:border-box}
.content_error .box_info + .wrap_btn{padding:40px 0 0}
.content_error .box_info_type1{padding:40px 0;text-align:center}
.content_error .desc_info{line-height:22px;color:#333}
.content_error .desc_info em{font-family:'Noto Sans Medium',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;color:#000}
.content_error .desc_error em{font-family:'Noto Sans Medium',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;color:#333}
.content_error .desc_info + .desc_error{padding:30px 0 0 0}
.content_error .link_txt{font-weight:normal;font-family:'Noto Sans Medium',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;color:#333;text-decoration:underline}
.content_error .cont_data{margin:35px 0 0 0}
.content_error .cont_data + .wrap_btn{padding:40px 0 0}
.content_error .link_detail{display:inline-block;margin:12px 0 0 0;line-height:22px;text-decoration:underline}
.content_error .wrap_btn{padding:35px 0 0;}
.content_error .btn_basic{width:162px}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {
  .img_common_tistory{background-image:url(//t1.daumcdn.net/tistory_admin/static/top/pcrtn/img_common_tistory_190731.png)}
}


@media all and (max-width:800px){
  #wrapper.type{min-width:320px}
  #wrapper.type .footer_comm{margin-top:30px}
  #wrapper.type.error_cont #article {padding-top:50px;vertical-align:top}
  #wrapper.type.error_cont .footer_comm{position:relative}
  .inner_header{min-width:320px}
  .content_error{position:relative;top:0;bottom:0;width:100%;min-width:320px;margin:0 auto}
  .content_error .box_info{padding:35px 20px}
  .inner_error{display:table;width:100%;height:100%;padding:0 24px;box-sizing:border-box}
  .inner_foot{min-width:320px}
  .tit_error {font-size:32px;line-height:40px}
  .tit_error .br_line,.desc_error .br_line,.desc_info .br_line {display:block}
  .full_btn .btn_basic{display:block;width:100%}
  .full_btn .btn_basic + .btn_basic{margin-top:10px}
  .inner_foot{padding:0 0 40px}
  .cont_data dt{width:0;font-size:0;line-height:0}
  .inp_text input::placeholder, .inp_text input:-ms-input-placeholder,.inp_text input::-ms-input-placeholder {font-size:13px;color:#000}
}