<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">>
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">뇽의 블로그 메인 페이지</title>
  <link rel="alternate" type="application/rss+xml" th:title="${title}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" sizes="32x32" th:href="@{/images/favicon.ico}" type="image/png">
</head>
<body>
<div th:each="page: ${wrapper.list}">
  <a th:href="${page.detail}">
    <span class="row" style="background-color: red;">
      <h1 th:text="${page.title}"></h1>
      <h3 th:text="${page.content}"></h3>
      like: <h5 th:text="${page.likeCount}"></h5>
      view: <h5 th:text="${page.viewCount}"></h5>
      comments: <h5 th:text="${page.commentCount}"></h5>
    </span>
  </a>
</div>

<img src="https://blog.kakaocdn.net/dn/b34crI/btqz04uQ0ej/DynsJfqx2WpkAzvkRLsnU0/img.png" srcset="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&amp;fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb34crI%2Fbtqz04uQ0ej%2FDynsJfqx2WpkAzvkRLsnU0%2Fimg.png" data-origin-width="0" data-origin-height="0" data-ke-mobilestyle="widthContent" onerror="this.onerror=null; this.src='//t1.daumcdn.net/tistory_admin/static/images/no-image-v1.png'; this.srcset='//t1.daumcdn.net/tistory_admin/static/images/no-image-v1.png';">
</body>
</html>